 <div class="w-full justify-center flex items-center gap-x-[48px] z-100">
    <a href="{{ settings.social_facebook }}" target="_blank">
      {% render 'icon', icon: 'icon-menu-facebook' %}
    </a>

    {% comment %} <a href="{{ settings.social_twitter_link }}" target="_blank">
      {% render 'icon', icon: 'icon-twitter' %}
    </a> {% endcomment %}

    <a href="{{ settings.social_pinterest }}" target="_blank">
      {% render 'icon', icon: 'icon-menu-pinterest' %}
    </a>

    <a href="{{ settings.social_instagram }}" target="_blank">
      {% render 'icon', icon: 'icon-menu-instagram' %}
    </a>

    <a href="{{ settings.social_tiktok }}" target="_blank">
      {% render 'icon', icon: 'icon-menu-tiktok' %}
    </a>
  </div> 