<div class="full-img" style="padding-top: {{ section.settings.padding_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;">
  <div class="full-img__container flex flex-col md:flex-row w-full h-screen">
    {%- comment -%}First image{%- endcomment -%}
    <div class="full-img__image w-full md:w-1/2 h-1/2 md:h-full relative">
      {% render 'alp-responsive-image', 
        image: section.settings.image_1_desktop, 
        image_mobile: section.settings.image_1_mobile, 
        desktop_width: 2560, 
        mobile_width: 1200,
        alt: section.settings.image_1_alt,
        class: 'w-full h-full object-cover' 
      %}
      {%- if section.settings.show_overlay_on_image_1 -%}
        {%- assign overlay_opacity_1 = section.settings.overlay_opacity_1 | divided_by: 100.0 -%}
        <div class="full-img__image-overlay z-1 absolute inset-0 w-full h-full flex flex-col {{ section.settings.mobile_text_position_1 }} {{ section.settings.desktop_text_position_1 }} gap-5 md:gap-6 p-6 md:p-12" style="background: linear-gradient(to bottom, transparent 0%, rgba({{ section.settings.overlay_color_1.red }}, {{ section.settings.overlay_color_1.green }}, {{ section.settings.overlay_color_1.blue }}, {{ overlay_opacity_1 }}) 100%);">
          <div class="prose text-{{ section.settings.text_alignment_1 }}" style="color: {{ section.settings.text_color }};">
            {%- if section.settings.subheading_1 != blank -%}
              <p class="h6 mb-2">{{ section.settings.subheading_1 }}</p>
            {%- endif -%}
            {%- if section.settings.title != blank -%}
              <h1 class="full-img__title text-{{ section.settings.title_size_mobile_1 }} md:text-{{ section.settings.title_size_desktop_1 }} font-bold tracking-wide mb-4">
                {{ section.settings.title }}
              </h1>
            {%- endif -%}
            {%- if section.settings.description_1 != blank -%}
              <p class="text-sm md:text-base mb-4">{{ section.settings.description_1 }}</p>
            {%- endif -%}
            {%- if section.settings.button_text != blank and section.settings.button_url != blank -%}
              <a
                href="{{ section.settings.button_url }}"
                style="color: {{ section.settings.text_color }};"
                class="full-img__description text-sm md:text-base tracking-wide after:content-[''] after:block after:w-full after:mt-2 after:h-[2px] after:bg-current hover:after:scale-x-100 transition-all duration-300 after:scale-x-0 inline-block"
              >
                {{- section.settings.button_text -}}
              </a>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}
      {%- if section.settings.image_link_1 != blank and section.settings.show_overlay_on_image_1 == false -%}
        <a href="{{ section.settings.image_link_1 }}" class="absolute inset-0 z-1" aria-label="{{ section.settings.image_1_alt }}"></a>
      {%- endif -%}
    </div>
    
    {%- comment -%}Second image{%- endcomment -%}
    <div class="full-img__image w-full md:w-1/2 h-1/2 md:h-full relative">
      {% render 'alp-responsive-image', 
        image: section.settings.image_2_desktop, 
        image_mobile: section.settings.image_2_mobile, 
        desktop_width: 2560, 
        mobile_width: 1200,
        alt: section.settings.image_2_alt,
        class: 'w-full h-full object-cover' 
      %}
      {%- if section.settings.show_overlay_on_image_2 -%}
        {%- assign overlay_opacity_2 = section.settings.overlay_opacity_2 | divided_by: 100.0 -%}
        <div class="full-img__image-overlay z-1 absolute inset-0 w-full h-full flex flex-col {{ section.settings.mobile_text_position_2 }} {{ section.settings.desktop_text_position_2 }} gap-5 md:gap-6 p-6 md:p-12" style="background: linear-gradient(to bottom, transparent 0%, rgba({{ section.settings.overlay_color_2.red }}, {{ section.settings.overlay_color_2.green }}, {{ section.settings.overlay_color_2.blue }}, {{ overlay_opacity_2 }}) 100%);">
          <div class="prose text-{{ section.settings.text_alignment_2 }}" style="color: {{ section.settings.text_color_2 }};">
            {%- if section.settings.subheading_2 != blank -%}
              <p class="h6 mb-2">{{ section.settings.subheading_2 }}</p>
            {%- endif -%}
            {%- if section.settings.title_2 != blank -%}
              <h1 class="full-img__title text-{{ section.settings.title_size_mobile_2 }} md:text-{{ section.settings.title_size_desktop_2 }} font-bold tracking-wide mb-4">
                {{ section.settings.title_2 }}
              </h1>
            {%- endif -%}
            {%- if section.settings.description_2 != blank -%}
              <p class="text-sm md:text-base mb-4">{{ section.settings.description_2 }}</p>
            {%- endif -%}
            {%- if section.settings.button_text_2 != blank and section.settings.button_url_2 != blank -%}
              <a
                href="{{ section.settings.button_url_2 }}"
                style="color: {{ section.settings.text_color_2 }};"
                class="full-img__description text-sm md:text-base tracking-wide after:content-[''] after:block after:w-full after:mt-2 after:h-[2px] after:bg-current hover:after:scale-x-100 transition-all duration-300 after:scale-x-0 inline-block"
              >
                {{- section.settings.button_text_2 -}}
              </a>
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}
      {%- if section.settings.image_link_2 != blank and section.settings.show_overlay_on_image_2 == false -%}
        <a href="{{ section.settings.image_link_2 }}" class="absolute inset-0 z-1" aria-label="{{ section.settings.image_2_alt }}"></a>
      {%- endif -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.full_img.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.full_img.settings.first_image_header"
    },
    {
      "type": "image_picker",
      "id": "image_1_desktop",
      "label": "t:sections.full_img.settings.image_1_desktop"
    },
    {
      "type": "image_picker",
      "id": "image_1_mobile",
      "label": "t:sections.full_img.settings.image_1_mobile"
    },
    {
      "type": "text",
      "id": "image_1_alt",
      "label": "t:sections.full_img.settings.image_1_alt",
      "default": "Image 1"
    },
    {
      "type": "checkbox",
      "id": "show_overlay_on_image_1",
      "label": "t:sections.full_img.settings.show_overlay_on_image_1",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.full_img.settings.second_image_header"
    },
    {
      "type": "image_picker",
      "id": "image_2_desktop",
      "label": "t:sections.full_img.settings.image_2_desktop"
    },
    {
      "type": "image_picker",
      "id": "image_2_mobile",
      "label": "t:sections.full_img.settings.image_2_mobile"
    },
    {
      "type": "text",
      "id": "image_2_alt",
      "label": "t:sections.full_img.settings.image_2_alt",
      "default": "Image 2"
    },
    {
      "type": "checkbox",
      "id": "show_overlay_on_image_2",
      "label": "t:sections.full_img.settings.show_overlay_on_image_2",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.full_img.settings.first_image_text_header"
    },
    {
      "type": "text",
      "id": "subheading_1",
      "label": "t:global.text.subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:global.text.title"
    },
    {
      "type": "richtext",
      "id": "description_1",
      "label": "t:global.text.content"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:global.text.button_text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "t:global.text.button_link"
    },
    {
      "type": "url",
      "id": "image_link_1",
      "label": "t:sections.full_img.settings.image_link",
      "info": "t:sections.full_img.settings.image_link_info"
    },
    {
      "type": "header",
      "content": "t:sections.full_img.settings.first_image_style_header"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:global.colors.text",
      "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "text_alignment_1",
      "label": "t:global.text.alignment",
      "options": [
        {
          "value": "left",
          "label": "t:global.position.left"
        },
        {
          "value": "center",
          "label": "t:global.position.center"
        },
        {
          "value": "right",
          "label": "t:global.position.right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "mobile_text_position_1",
      "label": "t:global.position.mobile_content_position",
      "options": [
        {
          "value": "justify-start items-start",
          "label": "t:global.position.top_left"
        },
        {
          "value": "justify-center items-start",
          "label": "t:global.position.top_center"
        },
        {
          "value": "justify-end items-start",
          "label": "t:global.position.top_right"
        },
        {
          "value": "justify-start items-center",
          "label": "t:global.position.middle_left"
        },
        {
          "value": "justify-center items-center",
          "label": "t:global.position.middle_center"
        },
        {
          "value": "justify-end items-center",
          "label": "t:global.position.middle_right"
        },
        {
          "value": "justify-start items-end",
          "label": "t:global.position.bottom_left"
        },
        {
          "value": "justify-center items-end",
          "label": "t:global.position.bottom_center"
        },
        {
          "value": "justify-end items-end",
          "label": "t:global.position.bottom_right"
        }
      ],
      "default": "justify-center items-end"
    },
    {
      "type": "select",
      "id": "desktop_text_position_1",
      "label": "t:global.position.desktop_content_position",
      "options": [
        {
          "value": "md:justify-start md:items-start",
          "label": "t:global.position.top_left"
        },
        {
          "value": "md:justify-center md:items-start",
          "label": "t:global.position.top_center"
        },
        {
          "value": "md:justify-end md:items-start",
          "label": "t:global.position.top_right"
        },
        {
          "value": "md:justify-start md:items-center",
          "label": "t:global.position.middle_left"
        },
        {
          "value": "md:justify-center md:items-center",
          "label": "t:global.position.middle_center"
        },
        {
          "value": "md:justify-end md:items-center",
          "label": "t:global.position.middle_right"
        },
        {
          "value": "md:justify-start md:items-end",
          "label": "t:global.position.bottom_left"
        },
        {
          "value": "md:justify-center md:items-end",
          "label": "t:global.position.bottom_center"
        },
        {
          "value": "md:justify-end md:items-end",
          "label": "t:global.position.bottom_right"
        }
      ],
      "default": "md:justify-center md:items-end"
    },
    {
      "type": "select",
      "id": "title_size_mobile_1",
      "label": "t:sections.full_img.settings.title_size_mobile",
      "options": [
        {
          "value": "xl",
          "label": "Small"
        },
        {
          "value": "2xl",
          "label": "Medium"
        },
        {
          "value": "3xl",
          "label": "Large"
        },
        {
          "value": "4xl",
          "label": "X-Large"
        }
      ],
      "default": "2xl"
    },
    {
      "type": "select",
      "id": "title_size_desktop_1",
      "label": "t:sections.full_img.settings.title_size_desktop",
      "options": [
        {
          "value": "2xl",
          "label": "Small"
        },
        {
          "value": "4xl",
          "label": "Medium"
        },
        {
          "value": "5xl",
          "label": "Large"
        },
        {
          "value": "6xl",
          "label": "X-Large"
        }
      ],
      "default": "4xl"
    },
    {
      "type": "color",
      "id": "overlay_color_1",
      "label": "t:global.colors.overlay_color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity_1",
      "label": "t:global.colors.overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 30
    },
    {
      "type": "header",
      "content": "t:sections.full_img.settings.second_image_text_header"
    },
    {
      "type": "text",
      "id": "subheading_2",
      "label": "t:global.text.subheading"
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "t:global.text.title"
    },
    {
      "type": "richtext",
      "id": "description_2",
      "label": "t:global.text.content"
    },
    {
      "type": "text",
      "id": "button_text_2",
      "label": "t:global.text.button_text"
    },
    {
      "type": "url",
      "id": "button_url_2",
      "label": "t:global.text.button_link"
    },
    {
      "type": "url",
      "id": "image_link_2",
      "label": "t:sections.full_img.settings.image_link",
      "info": "t:sections.full_img.settings.image_link_info"
    },
    {
      "type": "header",
      "content": "t:sections.full_img.settings.second_image_style_header"
    },
    {
      "type": "color",
      "id": "text_color_2",
      "label": "t:global.colors.text",
      "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "text_alignment_2",
      "label": "t:global.text.alignment",
      "options": [
        {
          "value": "left",
          "label": "t:global.position.left"
        },
        {
          "value": "center",
          "label": "t:global.position.center"
        },
        {
          "value": "right",
          "label": "t:global.position.right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "mobile_text_position_2",
      "label": "t:global.position.mobile_content_position",
      "options": [
        {
          "value": "justify-start items-start",
          "label": "t:global.position.top_left"
        },
        {
          "value": "justify-center items-start",
          "label": "t:global.position.top_center"
        },
        {
          "value": "justify-end items-start",
          "label": "t:global.position.top_right"
        },
        {
          "value": "justify-start items-center",
          "label": "t:global.position.middle_left"
        },
        {
          "value": "justify-center items-center",
          "label": "t:global.position.middle_center"
        },
        {
          "value": "justify-end items-center",
          "label": "t:global.position.middle_right"
        },
        {
          "value": "justify-start items-end",
          "label": "t:global.position.bottom_left"
        },
        {
          "value": "justify-center items-end",
          "label": "t:global.position.bottom_center"
        },
        {
          "value": "justify-end items-end",
          "label": "t:global.position.bottom_right"
        }
      ],
      "default": "justify-center items-end"
    },
    {
      "type": "select",
      "id": "desktop_text_position_2",
      "label": "t:global.position.desktop_content_position",
      "options": [
        {
          "value": "md:justify-start md:items-start",
          "label": "t:global.position.top_left"
        },
        {
          "value": "md:justify-center md:items-start",
          "label": "t:global.position.top_center"
        },
        {
          "value": "md:justify-end md:items-start",
          "label": "t:global.position.top_right"
        },
        {
          "value": "md:justify-start md:items-center",
          "label": "t:global.position.middle_left"
        },
        {
          "value": "md:justify-center md:items-center",
          "label": "t:global.position.middle_center"
        },
        {
          "value": "md:justify-end md:items-center",
          "label": "t:global.position.middle_right"
        },
        {
          "value": "md:justify-start md:items-end",
          "label": "t:global.position.bottom_left"
        },
        {
          "value": "md:justify-center md:items-end",
          "label": "t:global.position.bottom_center"
        },
        {
          "value": "md:justify-end md:items-end",
          "label": "t:global.position.bottom_right"
        }
      ],
      "default": "md:justify-center md:items-end"
    },
    {
      "type": "select",
      "id": "title_size_mobile_2",
      "label": "t:sections.full_img.settings.title_size_mobile",
      "options": [
        {
          "value": "xl",
          "label": "Small"
        },
        {
          "value": "2xl",
          "label": "Medium"
        },
        {
          "value": "3xl",
          "label": "Large"
        },
        {
          "value": "4xl",
          "label": "X-Large"
        }
      ],
      "default": "2xl"
    },
    {
      "type": "select",
      "id": "title_size_desktop_2",
      "label": "t:sections.full_img.settings.title_size_desktop",
      "options": [
        {
          "value": "2xl",
          "label": "Small"
        },
        {
          "value": "4xl",
          "label": "Medium"
        },
        {
          "value": "5xl",
          "label": "Large"
        },
        {
          "value": "6xl",
          "label": "X-Large"
        }
      ],
      "default": "4xl"
    },
    {
      "type": "color",
      "id": "overlay_color_2",
      "label": "t:global.colors.overlay_color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity_2",
      "label": "t:global.colors.overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 30
    },
    {
      "type": "header",
      "content": "t:sections.full_img.settings.layout_header"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "t:sections.full_img.settings.margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.full_img.settings.padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "t:sections.full_img.name"
    }
  ]
}
{% endschema %}
