<div class="full-img" style="padding-top: {{ section.settings.padding_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;">
  <div class="full-img__image w-full h-screen relative">
    {% render 'alp-responsive-image' with section.settings.image as image, class: 'w-full h-full object-cover' %}
    <div class="full-img__image-overlay z-1 absolute bottom-0 left-0 w-full h-full flex flex-col items-center justify-end gap-5  md:gap-6 pb-12 md:pb-16">
      <h1 style="color: {{ section.settings.text_color }};" class="full-img__title text-2xl md:text-4xl font-bold tracking-wide">
        {{ section.settings.title }}
      </h1>
      <a
        href="{{ section.settings.button_url }}"
        style="color: {{ section.settings.text_color }};"
        class="full-img__description text-sm md:text-base tracking-wide  after:content-[''] after:block after:w-full after:mt-2 after:h-[2px] after:bg-current  hover:after:scale-x-100 transition-all duration-300 after:scale-x-0"
      >
        {{- section.settings.button_text -}}
      </a>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Full Image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "image_alt",
      "label": "Image Alt",
      "default": "Image"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "Full Image"
    }
  ]
}
{% endschema %}
