<div class="full-img" style="padding-top: {{ section.settings.padding_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;">
  <div class="full-img__container flex flex-col md:flex-row w-full h-screen">
    {%- comment -%}First image{%- endcomment -%}
    <div class="full-img__image w-full md:w-1/2 h-1/2 md:h-full relative">
      {% render 'alp-responsive-image', 
        image: section.settings.image_1_desktop, 
        image_mobile: section.settings.image_1_mobile, 
        desktop_width: 2560, 
        mobile_width: 1200,
        alt: section.settings.image_1_alt,
        class: 'w-full h-full object-cover' 
      %}
      {%- if section.settings.show_overlay_on_image_1 -%}
        <div class="full-img__image-overlay z-1 absolute bottom-0 left-0 w-full h-full flex flex-col items-center justify-end gap-5 md:gap-6 pb-12 md:pb-16">
          <h1 style="color: {{ section.settings.text_color }};" class="full-img__title text-2xl md:text-4xl font-bold tracking-wide">
            {{ section.settings.title }}
          </h1>
          <a
            href="{{ section.settings.button_url }}"
            style="color: {{ section.settings.text_color }};"
            class="full-img__description text-sm md:text-base tracking-wide after:content-[''] after:block after:w-full after:mt-2 after:h-[2px] after:bg-current hover:after:scale-x-100 transition-all duration-300 after:scale-x-0"
          >
            {{- section.settings.button_text -}}
          </a>
        </div>
      {%- endif -%}
    </div>
    
    {%- comment -%}Second image{%- endcomment -%}
    <div class="full-img__image w-full md:w-1/2 h-1/2 md:h-full relative">
      {% render 'alp-responsive-image', 
        image: section.settings.image_2_desktop, 
        image_mobile: section.settings.image_2_mobile, 
        desktop_width: 2560, 
        mobile_width: 1200,
        alt: section.settings.image_2_alt,
        class: 'w-full h-full object-cover' 
      %}
      {%- if section.settings.show_overlay_on_image_2 -%}
        <div class="full-img__image-overlay z-1 absolute bottom-0 left-0 w-full h-full flex flex-col items-center justify-end gap-5 md:gap-6 pb-12 md:pb-16">
          <h1 style="color: {{ section.settings.text_color_2 }};" class="full-img__title text-2xl md:text-4xl font-bold tracking-wide">
            {{ section.settings.title_2 }}
          </h1>
          <a
            href="{{ section.settings.button_url_2 }}"
            style="color: {{ section.settings.text_color_2 }};"
            class="full-img__description text-sm md:text-base tracking-wide after:content-[''] after:block after:w-full after:mt-2 after:h-[2px] after:bg-current hover:after:scale-x-100 transition-all duration-300 after:scale-x-0"
          >
            {{- section.settings.button_text_2 -}}
          </a>
        </div>
      {%- endif -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.full_img.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.full_img.settings.first_image_header"
    },
    {
      "type": "image_picker",
      "id": "image_1_desktop",
      "label": "t:sections.full_img.settings.image_1_desktop"
    },
    {
      "type": "image_picker",
      "id": "image_1_mobile",
      "label": "t:sections.full_img.settings.image_1_mobile"
    },
    {
      "type": "text",
      "id": "image_1_alt",
      "label": "t:sections.full_img.settings.image_1_alt",
      "default": "Image 1"
    },
    {
      "type": "checkbox",
      "id": "show_overlay_on_image_1",
      "label": "t:sections.full_img.settings.show_overlay_on_image_1",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.full_img.settings.second_image_header"
    },
    {
      "type": "image_picker",
      "id": "image_2_desktop",
      "label": "t:sections.full_img.settings.image_2_desktop"
    },
    {
      "type": "image_picker",
      "id": "image_2_mobile",
      "label": "t:sections.full_img.settings.image_2_mobile"
    },
    {
      "type": "text",
      "id": "image_2_alt",
      "label": "t:sections.full_img.settings.image_2_alt",
      "default": "Image 2"
    },
    {
      "type": "checkbox",
      "id": "show_overlay_on_image_2",
      "label": "t:sections.full_img.settings.show_overlay_on_image_2",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.full_img.settings.first_image_text_header"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:global.colors.text",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title",
      "label": "t:global.text.title"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "t:global.text.button_text"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "t:global.text.button_link"
    },
    {
      "type": "header",
      "content": "t:sections.full_img.settings.second_image_text_header"
    },
    {
      "type": "color",
      "id": "text_color_2",
      "label": "t:global.colors.text",
      "default": "#ffffff"
    },
    {
      "type": "text",
      "id": "title_2",
      "label": "t:global.text.title"
    },
    {
      "type": "text",
      "id": "button_text_2",
      "label": "t:global.text.button_text"
    },
    {
      "type": "url",
      "id": "button_url_2",
      "label": "t:global.text.button_link"
    },
    {
      "type": "header",
      "content": "t:sections.full_img.settings.layout_header"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "t:sections.full_img.settings.margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.full_img.settings.padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 20
    }
  ],
  "presets": [
    {
      "name": "t:sections.full_img.name"
    }
  ]
}
{% endschema %}
